DATABASE_URL="postgres://postgres:postgres@localhost:5432/boilerplate"
JWT_SECRET="openssl rand -base64 172 | tr -d '\n'"
JWT_SIGNING_KEY="npx node-jose-tools newkey -s 256 -t oct -a HS512"
JWT_ENCRYPTION_KEY="npx node-jose-tools newkey -s 256 -t oct -a A256GCM -u enc"
STRIPE_SECRET_KEY=""
