NEXT_PUBLIC_BLOG_URL="http://localhost:4200"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_TWITTER_USERNAME="amosbastian"
NEXT_TRANSLATE_PATH="apps/site"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_GRAPHQL_ENDPOINT="http://localhost:3333/graphql"
NEXT_PUBLIC_API_ENDPOINT="http://localhost:3333/api"

EMAIL_SERVER=""
EMAIL_FROM=""

DATABASE_URL="postgres://postgres:postgres@localhost:5432/boilerplate"

REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""

TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
TWITTER_BEARER_TOKEN=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
